.container-episodes {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  align-items: center;
  color: cornflowerblue;
}

.container-main {
  width: 90%;
}

.container-table {
  background-color: cornsilk;
  padding: 20px;
  width: 100%;
  /*border-collapse: collapse;*/
}

.item-card-episodes {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: start;

}
.item-card-episodes ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
  justify-content: center;
  padding-top: 25px;
}

.list-characters {
  list-style: none;
  margin: 10px;


}
.filter-episodes-form {
  width: 300px;
  margin: 15px;
}
.filter-episodes-select {
  padding: 15px;
  position:relative;
  font-size: 16px;
  color: #777;
}
.container-episodes-list {
  height: 200px;
  position: absolute;
  overflow-y: scroll;
  font-size: 16px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  width: 100%;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;

}
.visible-list {
  display: block;

}
.input-episodes-list {
  font-size: 16px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  width: 100%;
  padding: 10px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.filter-episodes-option {
  cursor: pointer;
  padding: 10px
  /*background-color: crimson;*/
  /*padding-right: 15px;*/
  /*margin: 15px;*/
  /*padding: 30px;*/
}



