.container-episodes {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  align-items: center;
  color: cornflowerblue;
}

.container-main {
  width: 90%;
}

.container-table {
  background-color: cornsilk;
  padding: 20px;
  width: 100%;
  /*border-collapse: collapse;*/
}

.item-card-episodes {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: start;

}
.item-card-episodes ul {
  max-height: 200px;
  overflow-y: scroll;
}

.list-characters {
  list-style: none;
  margin: 10px;

}



