.container-main-watch {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  align-items: center;
  color: cornflowerblue;
}

.container-list-episode {

}

.container-list-selected-episodes {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  margin-bottom: 10px;

}

.item-episode {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content:  space-between;
  margin: 15px;
}