.container-characters {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  align-items: center;
color: cornflowerblue;
}
.container-group {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: row;

}
.container-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox {
  width: 30px;
  height: 30px;
  margin: 20px;
}
.container-main {
  display: flex;
  flex-direction: row;

}
.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item-card {
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 20%;
  justify-content: center;
  align-items: center;
/*padding: 10px;*/
}
.item-card-img {
  max-width: 100%;
}
.container-main-pagination {
  display: flex;
  flex-direction: row;
  z-index: 0;
  max-width: 60%;
}
.container-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.item-pagination {
  cursor: pointer;
}
.item-pagination-button {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: cornsilk;
}
.container-popup-character-card {
  position: fixed;
  z-index: 20000;
  top: 200px;
  left: 300px;


}
.popup-character-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px solid rosybrown;
  background-color: cornsilk;
}